{
  "global": {
    "title": "Lnngle Alain",
    "description": "Lnngle Alain",
    "copyright": "2021 lnngle", 
    "browsehappy": "You are using an <strong>outdated</strong> browser. Please <a href=\"http://browsehappy.com/?locale=en\">upgrade your browser</a> to improve your experience.",
    "menu": {
      "home": "Home",
      "main": "Main",
      "dashboard": "Dashboard",
      "system": {
        "main": "Account",
        "userManagement": "User management"
      },
      "jhipster-needle-menu-add-element": "JHipster will add additional menu entries here (do not translate!)",
      "entities": {
        "main": "Entities",
        "jhipster-needle-menu-add-entry": "JHipster will add additional entities here (do not translate!)"
      },
      "account": {
        "settings": "Settings",
        "logout": "Log out"
      },
      "setting": {
        "fullscreen": "Fullscreen",
        "fullscreen.exit": "Exit Fullscreen",
        "clear.local.storage": "Clear Local Storage",
        "lang": "Language"
      }
    },
    "form": {
      "currentpassword.label": "Current password",
      "newpassword.label": "New password",
      "confirmpassword.label": "New password confirmation"
    },
    "messages": {
      "success": {
        "save": "Saved successfully",
        "update": "Modified successfully",
        "delete": "Delete succeeded",
        "clear.local.storage": "Cleanup succeeded"
      },
      "info": {
        
      },
      "error": {
        "password.dontmatch": "The password and its confirmation do not match!",
        "password.required": "Your password is required.",
        "newpassword.required": "Your new password is required."
      },
      "confirm": {
        "delete": "Are you sure you want to delete?",
        "clear.local.storage": "Make sure clear all local storage?"
      }
    },
    "field": {
      "id": "ID",
      "operation": "Operation"
    },
    "action": {
      "changeAccount": "Set account",
      "changePassword": "Change Password",
      "create": "Create",
      "close": "Close",
      "edit": "Edit",
      "update": "Update",
      "view": "View",
      "delete": "Delete",
      "save": "Save"
    }
  }
}
