{
  "global": {
    "title": "Lnngle Alain",
    "description": "Lnngle Alain",
    "copyright": "2021 lnngle", 
    "browsehappy": "您目前使用<strong>过于老旧</strong>的浏览器, 建议您<a href=\"http://browsehappy.com/?locale=en\">升级浏览器</a>让您有更佳的上网体验.",
    "menu": {
      "home": "首页",
      "main": "主菜单",
      "dashboard": "仪表盘",
      "system": {
        "main": "管理",
        "userManagement": "用户管理"
      },
      "jhipster-needle-menu-add-element": "JHipster will add additional menu entries here (do not translate!)",
      "entities": {
        "main": "数据",
        "jhipster-needle-menu-add-entry": "JHipster will add additional entities here (do not translate!)"
      },
      "account": {
        "settings": "个人设置",
        "logout": "退出登录"
      },
      "setting": {
        "fullscreen": "全屏",
        "fullscreen.exit": "退出全屏",
        "clear.local.storage": "清理本地缓存",
        "lang": "语言"
      }
    },
    "form": {
      "currentpassword.label": "当前密码",
      "newpassword.label": "新密码",
      "confirmpassword.label": "确认新密码"
    },
    "messages": {
      "success": {
        "save": "保存成功",
        "update": "修改成功",
        "delete": "删除成功",
        "clear.local.storage": "清理成功"
      },
      "info": {
        
      },
      "error": {
        "password.dontmatch": "您输入的新密码和确认密码不匹配!",
        "password.required": "您的当前密码是必填项!",
        "newpassword.required": "您的新密码是必填项!"
      },
      "confirm": {
        "delete": "确定要删除吗？",
        "clear.local.storage": "确定要清理本地缓存吗？"
      }
    },
    "field": {
      "id": "ID",
      "operation": "操作"
    },
    "action": {
      "changeAccount": "设置账号",
      "changePassword": "修改密码",
      "create": "新建",
      "close": "关闭",
      "edit": "编辑",
      "update": "修改",
      "view": "查看",
      "delete": "删除",
      "save": "保存"
    }
  }
}
